<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBRSweeL-AWXebkzS2oN0jcRNjTMmzfNOQ</string>
	<key>GCM_SENDER_ID</key>
	<string>784113112870</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.wanderloom.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>wanderloom-5ace7</string>
	<key>STORAGE_BUCKET</key>
	<string>wanderloom-5ace7.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:784113112870:ios:621b49ba946c8c8f8d13e7</string>
</dict>
</plist>